/*
    KLEUREN
    Summer Inspired
    font color: #34495e;
    rood #cd5360
    blauw link #00aedb;
    blauw link hover #438496;
    geel fel #e4f578;
    
Stylesheet voor Inner Joy Travel
		
	rood (links)			#e54425
	oranje (donker)			#f68323
	oranje (licht)			#fcb349
	gelig (licht, tabel)	#fdfce3
	gelig (feller, links)	#faf8be
	bruin (normaal, text)	#78614e
	bruin (donker)			#4d311d
/*::-moz-selection {
    background-color: #6cbb23;
    color: #fff;
}
::selection {
    background-color: #6cbb23;
    color: #fff;
}
::-webkit-input-placeholder {
    color: #000;
    font-weight: 300;
}
:-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 300;
}
::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 300;
}
:-ms-input-placeholder {
    color: #000;
    font-weight: 300;
}
::-ms-input-placeholder {
    color: #000;
    font-weight: 300;
}*/
body {
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size:1rem;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
    background: #f6f6fc;
}
.oz-body-wrap {
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    margin: 50px;
    position: relative;
}
@media (max-width: 767px) {
    .oz-body-wrap {
        margin: 30px;
    }
}
@media (max-width: 575px) {
    .oz-body-wrap {
        margin: 10px;
    }
}
/*-----------------------------------------

    ALGEMEEN

-----------------------------------------*/
a {
    color: #00aedb;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a:focus, a:hover {
    outline: 0;
    color:#438496;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto",sans-serif; 
    font-weight: 300;
    color: #777;
    line-height: 1.5em;    
    margin-top: 0;
    margin-bottom: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto",sans-serif; 
    font-weight: 300;
    color: #777;
    line-height: 1.5em;    
    margin-top: 0;    
    margin-bottom: 15px;
}
h1, .h1 { font-size: 48px; }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 16px; }
h6, .h6 { font-size: 14px; }

td, th { border-radius: 0px; }
ol, ul { margin: 0; padding: 0; list-style: none; }

.fw700 {
    font-weight:700;
}
.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #cd5360;
}

/*-----------------------------------------

    PAGE SECTIONS in template files

-----------------------------------------*/
.section-header {
    padding: 10px 15px 10px 0;
    top: 0;
    left: 0;
}
.section-body {                     
    padding:0;
}
.section-footer {
    padding: 67px 0;
}
@media (max-width: 767px) {
    
    .section-header {
        padding:0; 
        padding-top:20px;       
    }
    .section-body {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}
/*-----------------------------------------

    HEADER

-----------------------------------------*/
.section-header {
    
}
.top-nav a.navbar-brand img {
    height:120px;
    width:120px;
    margin-right:10px;
}
.top-nav span.nav-title {
    /*font-size:20px;
    font-weight: 400;
    font-family: "Roboto",sans-serif; 
    color: #cd5360;
    letter-spacing:1px;*/
    width:135px;
    border-bottom:1px solid #cd5360;
}

.top-nav ul {
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
    margin-right:10px;
}
.top-nav ul a.nav-link {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size:1rem;
    color: #777;
    margin:.25rem .5rem;
    padding:.25rem .5rem;
    }
.top-nav ul a.nav-link:hover {
    color: #438496;
    text-decoration: none;
    background-color: transparent;
    }
.top-nav ul div.dropdown-menu {
        background-color: #fdfce3;
    }
.top-nav ul div.dropdown-menu a.nav-link {
        color: #777;
    }
.top-nav nav a.dropdown-item:focus, .top-nav nav a.dropdown-item:hover {
    color: #438496;
    text-decoration: none;
    background-color: transparent;
}
.top-nav .lnr-menu, .mob-nav .lnr-menu {
  font-size: 40px;
}
.mob-menu {
    background-color: #fdfce3;
    padding:.25rem;
}
.mob-menu ul {
    margin-bottom:.5rem;
}
.mob-menu span {    
        color:#000;
    }
.mob-menu ul a.nav-link {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size:.85rem;
    color: #777;
    margin:.15rem ..25rem;
    padding:.25rem .25rem;
    }
.mob-menu ul a.nav-link:hover {
    color: #438496;
    text-decoration: none;
    background-color: transparent;
    }
.mob-nav a.navbar-brand img {
    height:70px;
    width:70px;
    margin-right:0;
}
/*-----------------------------------------

   LANGUAGE SWITCH

-----------------------------------------*/
.switch {
    border:1px solid #cd5360;
    border-radius: .5rem;
    padding: 0;
    width:62px; 
}
.switch a, .switch span {
    margin:0 .35rem;   
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size:.71rem;
    letter-spacing:2px;
    font-weight: 300;  
}
.switch a {
    color: #6a6666;     
}
.switch span {
    color:#1f1e1e;      
}
.switch a:hover, .switch a:focus {
  color:#00aedb;
  text-decoration: none;
}
@media (max-width: 767px) {
    .switch {
    width:72px;
    margin-left:18px; 
}
}
/*-----------------------------------------

    BREADCRUMBS

-----------------------------------------*/

div.breadcrumbs {  
    margin:0;  
}
div.breadcrumbs ol {    
    padding:4px 15px;
    margin-bottom:10px;
}
div.breadcrumbs ol li {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight:400;    
    font-size:11px;
    padding-right:0;
    margin-right:0.7rem;
}
div.breadcrumbs ol li+li:before {
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color:#438496;
    text-decoration: inherit;
    font-size: 12px;
    padding-right: 0.8rem;
}
div.breadcrumbs a {
  color:#438496;
}
div.breadcrumbs span {
  color:#438496;
}
div.breadcrumbs a:hover, div.breadcrumbs a:focus {
  outline: 0;
    color:#00aedb;
    text-decoration: none;
}
/*-----------------------------------------

    FOOTER

-----------------------------------------*/
footer {
    background: #fff;
}
.single-footer-widget h5 {
    font-family: "Roboto",sans-serif; /* value changed */
    color: #cd5360;
    font-weight: 300;
    text-transform:uppercase;
    margin-top: 15px;    
    margin-bottom:15px;
}
.footer-text {
    font-size:0.75em;
}
.single-footer-widget dl {
    font-size:.91em;    
    line-height:1.5em;    
}
.donate-box dl dt, .donate-box dl dd {
    font-size:.81em;    
    line-height:1.5em;    
}
.single-footer-widget dl dt {
    font-weight:400;
}
.single-footer-widget dl dd {    
    font-weight:300;
}
footer ul.footer-nav li {
margin-top: 6px;
}
footer ul.footer-nav li a {
  color: #438496;
  font-weight:300;
  /*-webkit-transition: 0.25s;
  transition: 0.25s;
  display:inline-block;*/
}
footer .footer-nav li a:hover {
    color: #6a6666;
    text-decoration:none;
}
.footer-bottom {
    border-top: 1px solid #eeeeee;
    padding-top: 40px;
}
.footer-bottom .footer-text {
    color: #777;
}
.footer-bottom .footer-text i {
    color: #6cbb23;
}
.footer-bottom .footer-text a {
    color: #6cbb23;
}
.footer-bottom .footer-text a:hover {
    color: #6cbb23;
}
footer p {
    color: #6a6666;
    font-weight:300;
    /*font-size:1rem;  
    line-height:1.5em;    
    margin-bottom:.25em;
    padding-right:.5rem;*/
}
/*-----------------------------------------

    CONTENT

-----------------------------------------*/ 
.content-home {
    padding:20px 0 20px 50px;
}
.content-image {
    padding:10px 20px 10px 0;
}
.content-home h1 {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.4em;
    /*margin-top: 20px;*/
}
.content-home h1 span.sp-1 {
    font-weight: 700;
}
.content-home h1 span.sp-2 {
    font-weight: 600;
    color:#438496;
}
.content-home h1 span.sp-3 {
    font-weight: 600;
    color:#cd5360;
    
    margin-bottom:.5rem;
}
.content-home h6 {
    font-size:1rem;
    text-transform:uppercase;
    font-weight: 400;
    line-height: 1.7rem;
    /*margin-bottom:2rem;*/
}
.content-home p:first-child {
    margin-bottom: 15px;
    font-size: 2.12rem;
    line-height: 2.1rem;
}
@media (max-width: 767px) {
  .content-home {
    padding:0;
    padding-left:10px;
}
.content-image {
    padding:0;
    padding-right:10px;
}
    .content-home h1 {  
    font-size: 23px;
    line-height: 1.3em;
    margin-bottom:.5rem;
}
    .content-home h6 {
    font-size:.8rem;    
    line-height: 1.5rem;
    margin-bottom:.7rem;
}
    }
.content-main {
    padding-right:2rem;
}
.content-main h3, .content-main span.h3 {
    margin:15px 0;
}
.content-main h4, .content-main span.h4 {
    text-transform:uppercase;
}
.content-main p.lead, .content-main span.lead, .content-sidebar p.lead, .content-sidebar span.lead {
  font-size: 1.1rem;
}
.content-main span.img-left img, .content-sidebar  span.img-left img, .content-main  span.img-right img, .content-sidebar  span.img-right img {
    -moz-border-radius: 0.32rem;
	-khtml-border-radius: 0.32rem;
	-webkit-border-radius: 0.32rem;
}
.content-sidebar span.img-centre img.unround {
    border-radius: 0.0em !important;
    /*-moz-border-radius: 0;
	-khtml-border-radius: 0;*/
	-webkit-border-radius: 0;
}
.content-main span.img-left img, .content-sidebar  span.img-left img {
    /*float: left !important;*/
    margin: 0.35rem 0.91rem 0 0;
}
.content-main  span.img-right img, .content-sidebar  span.img-right img {
    float: right !important;
    margin: 0.35rem 0 0 0.91rem ;
}
.content-main ul, .content-main ol {
    margin:10px 0 ;
}
.content-main ul li, .content-main ol li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}
.content-main ol li {
        list-style-type: decimal;
    }
.content-main ul li:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #34495e;
    background: #fff;
    top: 10px;
    left: 0;
    border-radius: 50%;
}
    .content-main ol {
        margin-left:30px;
    }

h2.content-main {
    
}
.content-main ol  li span {
    font-weight: 300;
    color: #777;
}
@media (max-width: 767px) {
   .content-main span.lead {  
  font-size: 1.2rem;
  line-height: 1.5rem;
}
}
.content-sidebar {
    padding-right: 1rem;
}
.content-sidebar h4, .content-sidebar span.h4 {
    color: #cd5360;
    font-weight:300; 
    margin-top: 0; 
    margin-bottom: 15px;
    letter-spacing:2px;
    text-transform:uppercase;
}
.content-sidebar dl {
   
}
.content-sidebar dl dt, .content-sidebar dl dd {
    font-size:1rem;    
    line-height:1.5rem;
    font-weight:300;    
}
.content-sidebar dl dt {
    /*font-weight:400;*/
}
.content-sidebar dl dd {    
    
}
.content-image img {   
	margin-top:15px;
    border-radius: 0.32em !important;
    width:270px;
}
/*-----------------------------------------

    CUSTOM CONTENT ELEMENTS

-----------------------------------------*/
div.board {
    margin-bottom:1rem;
    font-size:.85leadrem;
}

/*-----------------------------------------

    NAV BUTTON

-----------------------------------------*/
.nav-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#e07480;
    border:2px solid #e07480;
    background:#fff;
    text-transform:uppercase;
}
.nav-btn:hover{
    color:#fff;
    background:#e07480;
    border:2px solid transparent;
}
.nav-btn:focus {
    outline: none;
}
.nav-btn-top {
    margin:10px 0;
} 
.nav-btn-bottom {
    margin:10px 0;
}
.nav-btn.circle {
    border-radius: 20px;
}
.nav-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*-----------------------------------------

    REconomy timeline

-----------------------------------------*/
.timeline-area {
    background: #fff;
    margin-bottom:70px;
}
.single-year {
    text-align: right;
}
.single-year h2 {
    font-size: 24px;
    font-weight: 500;
    color: #cd5360;
}
.single-facts {
    margin-bottom: 26px;
    padding-left: 10%;
    padding-right: 10%;
}
/*.single-faq h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
}*/
.single-facts ul li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}
.single-facts ul li:before {
    /*content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #cd5360;
    background: #fff;
    top: 10px;
    left: 0;
    border-radius: 50%;*/
}
@media (max-width: 767px) {
    .single-year {
        text-align: left;
    }
    .single-facts {
        text-align: left;
    }
}



@media (max-width: 1199px) {
    .faq-content {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (max-width: 767px) {
    
}

.single-faq {
    margin-bottom: 30px;
}


/*-----------------------------------------

    REconomy menu

-----------------------------------------*/
.folder-nav ul {
    margin-bottom:1.1rem;
}
.folder-nav a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size:.91rem;
    letter-spacing:2px;
    color: #6a6666;
    font-weight:300;
    -webkit-transition: 0.25s;
  transition: 0.25s;
  display:inline-block;
}
.folder-nav a:hover {    
    background-color:#fdfce3;
}
    .folder-nav a.active {
        background-color: #e4f578;
    }
